<div class="ch-bg--grey-2 ch-pv--3 ch-bb--1 ch-bc--grey-3">
  <div class="ch-container">
    <div class="ch-row">
      <div class="sl:ch-col--11 md:ch-col--9 ch-centered">
        <div class="ch-row">
          <div class="sl:ch-col--6 ch-pa--0"> 
            <span class="ch-text--bold ch-display--block">Citroen DS3 <span class="ch-chip ch-chip--yellow ch-chip--lg ch-ml--1 ch-text--bold">SA13GYG</span></span>
            <span>AIRDREAM DSSPORT RED E-HDI</span>
          </div>
          <div class="sl:ch-col--6 ch-pa--0 sl:ch-text--right">
            <a href="/">Change vehicle</a>
          </div>
        </div>
        {%- if withVariant == true %}
          <div class="ch-row ch-bt--1 ch-bc--grey-3 ch-mt--2 ch-pt--2">
            <div class="sl:ch-col--9 ch-pa--0"> 
              With manual transmission 0AJ, PC 57 front brake calipers and all-around monitoring  
            </div>
            <div class="sl:ch-col--3 ch-pa--0 sl:ch-text--right">
              <a href="/variants">Change variant</a>
            </div>
          </div>
        {%- endif %}
      </div>
    </div>
  </div>
</div>